# IS362 Project 1 
## David Vayman

### Load .Csv file into pandas

In [12]:
import numpy as np
import pandas as pd 

project1 = pd.read_csv("desktop/Project1.csv", index_col =0)


project1.head()

            Status  Los Angeles  Phoenix   San Diego   San francisco  Seattle
Alaska    On time           497       221         212            503     1841
Alaska    Delayed            62        21          20            102      305
AM west   On time           694      4849         383            320      201
AM west   Delayed           117       415          65            129       61

# Analysis of Data 
##### The chart above describes arrival delays for two airlines across five destinations.  

### This chart displays number of on-time flights to a given destination and the number of delayed flights to those destinations. This data is taken from a bi-quarterly report.

## Precentages of Flight delays per Destination

#### Alaska airlines  flights to Los Angeles  11.1% Flights delayed 
#### AM West airleines flights to Los Angeles 14.4% Flights delayed 
#### Alaska airlines  flights to Phoneix   8.7%%  Flights delayed 
#### AM West airleines flights to Phoenix 7.9% Flights delayed 
#### Alaska airlines  flights to San Diego 8.6%  Flights delayed 
#### AM West airleines flights to San Diego 14.5% Flights delayed 
#### Alaska airlines  San francisco  16.9% Flights delayed 
#### AM West airleines flights to San francisco 28.7% Flights delayed 
#### Alaska airlines Seattle 14.2% Flights delayed 
#### AM West airleines flights to Seattle 23.3% Flights delayed 


## Percentage of Total flight delays to On-time arrivals Per airline 

### Alaska Airlines 
##### Total Flights = 3,784
##### Total On-time Flights = 3,274
##### Total delayed Flights = 510
#### Percentage of delays = 13.5 %

### AM West airlines 
##### Total Flights = 7,234
##### Total On-time Flights = 6,447
##### Total delayed Flights = 787
#### Percentage of delays = 10.9%